@media (max-width: 768px) {
 .container-fluid{
    margin: 0;
    padding: 0;
 }

}
.containerr{
  padding: 18px 0;

}
.containerr,mat-toolbar {
  background-color: #064e40;
  color: burlywood;
  font-size: 1.875rem;
  flex-wrap: wrap;
  flex-direction: row;
  

} 
.auth{
  border-style: hidden;
  background-color: #064e40;
}
mat-toolbar {
  font-family: -webkit-body;
  place-content: center;

}
a {
  margin-block: auto;
  padding-right: 40px;
}
.icon {
  color: burlywood;
  place-self: flex-end;
  margin-right: auto;
}

#web-name {
  padding: 70px 0 70px 70px;
  
  font-size: 4.375rem;
  color: #064e40;
  font-family: fantasy;
}

mat-icon {
  align-self: center;
  margin-top: 70px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: #064e40;
  display: flex;
  flex-wrap: wrap;
}
.btn-warning {
  background-color: burlywood;
  color: #064e40;
}
.login-button,
.signup-button {
  background-color: #064e40;
  color: burlywood !important;
  height: 3.125rem;
  text-align: center;
  padding-top: 0.625rem;
}

.login-button:hover {
  background-color: #064e40;
}
