p,
h1 {
  color: #064e40;
}
h1 {
  font-size: 25px;
}
img {
  width: 300px;
}
.about-hr,
.contact-hr {
  width: 90%;
  margin-bottom: 75px;
}
.about-text {
  width: 600px;
  font-size: 25px;
  font-family: monospace;
  color: #064e40;
}

.first-part,
.second-part,
.third-part {
  transition: transform 0.5s ease;
}

.first-part:hover,
.second-part:hover,
.third-part:hover {
  transform: scale(1.1);
}
