<div class="container-fluid d-flex flex-wrap m-0 p-5">
  <h1 class="fw-bold">About Us</h1>
  <hr class="about-hr" />
  <div class="first-part d-flex flex-row mb-5 justify-content-around">
    <p class="about-text" style="margin-right: 300px">
      We are an e-commerce website that sells electronics, jewelry, women's
      clothes, and men's clothes. We are committed to providing our customers
      with a wide selection of high-quality products at affordable prices. We
      also offer a variety of shipping options and a satisfaction guarantee.
    </p>
    <img src="assets/about1.jpg" />
  </div>
  <div class="second-part d-flex flex-row mb-5 justify-content-between">
    <img src="assets/about2.jpg" />
    <p class="about-text" style="margin-left: 200px">
      We believe that everyone should have access to the latest technology,
      stylish jewelry, and fashionable clothes. That's why we work hard to offer
      our products at a variety of price points. We also offer a variety of
      payment options, so you can choose the method that works best for you.
    </p>
  </div>
  <div class="third-part d-flex flex-row mb-5">
    <p class="about-text" style="margin-right: 300px">
      We are committed to providing our customers with a positive shopping
      experience. That's why we offer a variety of customer support options,
      including live chat, email, and phone support. We also have a satisfaction
      guarantee, so you can be sure that you are happy with your purchase.
    </p>
    <img src="assets/about3.jpg" />
  </div>
  <div>
    <p class="about-text">
      We are always working to improve our website and our products. We
      appreciate your feedback and we welcome your suggestions.
    </p>
    <br />
    <p class="about-text">Thank you for shopping with us!</p>
  </div>
</div>
