nav {
  background-color: #064e40;
  display: flex;
  flex-wrap: wrap;
}
li {
  float: left;
}
.navbar-collapse {
  justify-content: center;
}

li a {
  display: block;
  color: burlywood;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 25px 0 25px;
}

li a:hover {
  background-color: rgb(188, 60, 13);
  color: white;
}
/* img {
    padding-left: 250px;
  } */
img {
  width: -webkit-fill-available;
}
