
<nav class="navbar navbar-expand-lg d-flex flex-wrap" *ngIf="currentRoute !== '/notFound' && currentRoute !== '/login' && currentRoute !== '/contact'">

  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/products">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">My Cart</a>
      </li>
    </ul>
  </div>
</nav>

<img src="assets/banner.jpg" *ngIf="currentRoute === '/products'  async" />
