<div class="form">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="title">Welcome</div>
    <div class="subtitle">Let's create your account!</div>

    <label for="firstName">First Name:</label>
    <input
      id="firstName"
      type="text"
      formControlName="firstName"
      placeholder="Enter your first name"
      class="form-control"
    />
    <span
    class="signupValidation"
    *ngIf="signUpForm.controls['firstName'].touched &&  signUpForm.controls['firstName'].errors?.['required']"
    >*Please enter your First Name</span
  >
    <label for="LastName">Last Name</label>
    <input
      id="lastName"
      type="text"
      placeholder="Enter your last name"
      formControlName="lastName"
      class="form-control"
    />
    <span
    class="signupValidation"
    *ngIf="signUpForm.controls['lastName'].touched &&  signUpForm.controls['lastName'].errors?.['required']"
    >*Please enter your last Name</span
  >
    <label for="email"> e-mail:</label>
    <input
      id="email"
      type="text"
      formControlName="email"
      placeholder="Email"
      class="form-control"
    />
    <span
    class="signupValidation"
    *ngIf="signUpForm.controls['email'].touched &&  signUpForm.controls['email'].errors?.['required']"
    >*Email is required!</span
  >
  <span
    class="signupValidation"
    *ngIf="signUpForm.controls['email'].errors?.['pattern']"
  >
    *Enter in the format:name&#64;example.com
  </span>

    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Password"
      class="form-control"
    />
    <span
    class="signupValidation"
    *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].errors?.['required']"
    >*Password is required!</span
  >
  <span
    class="signupValidation"
    *ngIf="signUpForm.controls['password'].errors?.['minlength']"
    >*Password must be minimum 8 characters</span
  >
  <span
    class="signupValidation"
    *ngIf="signUpForm.controls['password'].errors?.['passwordStrength']"
  >
    *Your password must have lower case, upper case and numeric
    characters and symbols.
  </span>
    <label for="reEnterPassword"> Re-enter Password</label>
    <input
      id="password2"
      type="password"
      formControlName="reEnterPassword"
      placeholder="Please re-enter your password :)"
      class="form-control"
    />
    <span
    class="signupValidation"
    *ngIf="signUpForm.controls['reEnterPassword']?.touched && signUpForm.controls['reEnterPassword'].errors?.['required']"
    >*Confirm Password is required!</span
  >
  <span
    class="signupValidation d-flex"
    *ngIf="
      signUpForm.controls['reEnterPassword']?.invalid &&
      signUpForm.controls['reEnterPassword']?.touched
    "
  >
    *Confirm password must match password
  </span>
    <div formGroupName="address">
      <h2>Address</h2>

      <label for="street">Street: </label>
      <input
        id="street"
        type="text"
        formControlName="street"
        class="form-control"
        placeholder="1234 Main St"
      />

      <label for="city">City: </label>
      <input
        id="city"
        type="text"
        formControlName="city"
        class="form-control"
      />

      <label for="state">State: </label>
      <input
        id="state"
        type="text"
        formControlName="state"
        class="form-control"
      />

      <label for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip" class="form-control" />
    </div>
    <button 
      type="submit"
      class="btn btn-primary"
      [disabled]="!signUpForm.valid"
    >
      Submit
    </button>
    <p>Already have Account?<a href="/login">Log In</a></p>

  </form>
</div>
