
<footer class="site-footer" *ngIf="currentRoute !== '/notFoundPage'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          We are an e-commerce website that sells electronics, jewelry, women's
      clothes, and men's clothes. We are committed to providing our customers
      with a wide selection of high-quality products at affordable prices. We
      also offer a variety of shipping options and a satisfaction guarantee.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">electronics</a></li>
          <li>
            <a href="">jewelery</a>
          </li>
          <li>
            <a href="">men's clothing</a>
          </li>
          <li>
            <a href="">women's clothing</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/products">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/cart">Cart</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          For latest news and updates<strong> Visit us on </strong>
          <a href="#">Shopia</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
